button {
  cursor: pointer;
}
//* button styles
.button_comp_1 {
  padding: 0px 30px;
  background-color: rgb(234, 109, 39);
  color: white;
  border-radius: 10% 0;
}
.button_comp_2 {
  padding: 0px 30px;
  background-color: black;
  color: white;
  border-radius: 10% 0;
}
.mid_button {
  height: 55px;
}
.small_button {
  height: 45px;
}

.button_comp_3 {
  background-color: rgb(234, 109, 39);
  color: azure;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 20px;
}
